schema_version: 1.0
session: redsun-mimir
frontend: pyqt

devices:
  serial:
    port: COM3
  stage:
    axis:
      - X
      - Y
      - Z
    step_sizes:
      X: 100.0
      Y: 100.0
      Z: 100.0
    egu: um

presenters:
  ctrl:
    timeout: 5.0

views:
  widget: {}
