schema: 1.0
session: redsun-mimir
frontend: pyqt

devices:
  serial:
    alias: Serial
    port: COM3
  laser:
    alias: Laser 1
    wavelength: 650
    egu: mW
    intensity_range: [0, 1023]
    step_size: 1
    id: 1

presenters:
  ctrl:
    timeout: 5.0

views:
  widget: {}
